a {
    text-decoration: none;
    color: #1E90FF;
}

a:hover {
    background: #1E90FF;
    color: #ffffff;
}

.sticky {
    position: fixed;
    z-index: 10;
}

.navbar--container {
    top: 40%;
    background: #ffffff;
    height: 180px;
    width: 60px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}

.navbar--icon {
    margin-top: auto;
    margin-left: 24px;
    font-size: 1.5em;
    color: #1E90FF;
    transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.navbar--icon:hover {
    color: #014361;
    cursor: pointer;
}

.navbar--title {
    margin-left: auto;
    margin-top: 40px;
}

.navbar--title h4 {
    writing-mode: vertical-rl;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-size: 1em;
    color: #333333;
}

.nav--open {
    height: 100vh;
    width: 320px;
    background: #F0F8FF;
    transition: all 0.4s ease-out;
    opacity: 1;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}

.nav--open-icon {
    text-align: right;
    padding: 20px;
}

.nav--open-icon i {
    font-size: 2em;
    color: #1E90FF;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav--open-icon i:hover {
    color: #FF4500;
    transform: scale(1.2) rotate(10deg);
    cursor: pointer;
}

.nav--open-title {
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-align: center;
    margin-top: 30%;
    color: #333333;
}

.nav--open-menu {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.nav--open-menu a {
    font-size: 1.8em;
    font-weight: 600;
    padding: 15px 30px;
    color: #333333;
    border-radius: 8px;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    text-decoration: none;
}

.about-link:hover {
    background: #FF6347;
    color: #ffffff;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    font-weight: 700;
}

.experience-link:hover {
    background: #1E90FF;
    color: #ffffff;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    font-weight: 700;
}

.education-link:hover {
    background: #32CD32;
    color: #ffffff;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    font-weight: 700;
}

.projects-link:hover {
    background: #FFD700;
    color: #ffffff;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    font-weight: 700;
}

.contact-link:hover {
    background: #FF4500;
    color: #ffffff;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    font-weight: 700;
}

.close {
    transform: translateX(-320px);
    transition: all 0.4s ease-out;
    opacity: 0;
}