body.light-mode #projects{
background-color: rgb(34, 33, 33);
color: rgb(255, 255, 255)
}

body.dark-mode #projects {
    background-color: rgb(245, 245, 245);    
}

body.light-mode .project-card{
background-color: rgb(36, 34, 34);
border: 2px solid white;
}
